.color-primary {
    color: rgb(0, 87, 128);
}

.font-50 {
    font-size: 50px;
}

.select-style {
    height: 40px; 
    font-size: 20px; 
    color: blue;
}

.tb-head> tr > td {
    border: 1px solid black;
    font-size: 14px;
    font-weight: bold;
    color: red;
}

.tb-body > tr >td {
    border: 1px solid black;
}

p { background: yellowgreen; color: darkgreen;}

.class1 { 
    background: rgb(50, 161, 205); color: rgb(10, 13, 235);
}

#p1 {
    background: peachpuff; color: peru;
}